// Variáveis de cor
$background-color: #18181b;
$text-color: #f8fafc;
$calculator-color: #262626;
$underscore-color: #7e57c2;
$input-color: #cdb5e1;
$input-background-color: #3f3f46;
.hidden{display: none;}